version: "3.8"
services:
  localstack:
    image: localstack/localstack-pro:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
      - PERSISTENCE=1
      - SERVICES=s3,sqs,lambda,sts,sagemaker,glue
      - DEBUG=1
    volumes:
      # IMPORTANT: use WSL absolute paths (not Windows paths)
      - /home/zahr/localstack_volume:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow
    command: >
      mlflow server --backend-store-uri sqlite:////opt/mlflow/mlflow.db
                    --default-artifact-root /mlflow_artifacts
                    --host 0.0.0.0 --port 5000
    volumes:
      - /home/zahr/mlflow_artifacts:/mlflow_artifacts
      - /home/zahr/mlflow_db:/opt/mlflow
    ports:
      - "5000:5000"
      
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    # Ensure 'prometheus.yml' exists in your project root under a 'prometheus' folder
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    user: "472"
    volumes:
      - ./grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  api:
    build: .  
    image: ev-api
    container_name: ev-api
    ports:
      - "8000:8000"
    depends_on:
      - localstack 
      - prometheus
    environment:
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test